body {
  font-family: "Montserrat";
  font-size: 22px;
  background-color: #000;
}

main {
  height: 82vh;
}

footer {
  background-color: #febb40;
  height: 8vh;
}

p {
  margin: 0;
}
.navbar {
  font-weight: 600;
  font-size: 1.4rem;
}

ul li a {
  color: #fff;
}

main > div {
  margin-top: 5px;
}

#judul {
  background-color: #febb40;
  color: #000;
  width: 90vw;
  height: 80px;
  line-height: 80px;
  border-radius: 20px;
  font-weight: 400;
  font-size: 40px;
}

table {
  background-color: #424242;
  width: 90vw;
  height: 28vw;
  border-radius: 20px;
  margin-top: 30px;
}

#tipe {
  transform: translateX(25px);
}

#level {
  transform: translateX(45px);
}

#bahasa {
  background-color: #fff;
  border-radius: 20px;
}

#bahasa div:last-child {
  color: #000;
  font-weight: 700;
  font-size: 18.5px;
  line-height: 37px;
}
