body {
  font-family: "Montserrat";
  font-size: 22px;
  background-color: #000;
}

p {
  margin: 0;
}
.navbar {
  font-weight: 600;
  font-size: 1.4rem;
}

.pertanyaan {
  /* box-shadow: 4px -4px 8px #febb40, -4px 4px 8px #febb40, 4px 4px 8px #febb40, -4px -4px 8px #febb40; */
  padding: 30px 0;
}

input[type="radio"] {
  content: url("http://i.stack.imgur.com/M3EkO.png");
  height: 55px;
  width: 55px;
  transform: translateY(40px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

input:checked {
  content: url("http://i.stack.imgur.com/Ialva.png");
}

.pilihan {
  font-size: 2.5em;
  cursor: pointer;
  background-color: #cbd5e0;
  width: 300px;
  height: 137px;
  line-height: 115px;
  border-radius: 19px;
}

.pilihan:hover {
  background-color: #1597e9;
}

#container-1,
#container-2,
#container-3 {
  background-color: #febb40;
  color: #000;
  border-radius: 65px;
  font-weight: 700;
}

.soal-checked {
  background-color: #1597e9;
}
